:root {
    --border-radius: 1rem;
    --darken: light-dark(hsl(0 0 0 / 0.1), hsl(0 0 0 / 0.5));
}

html:has(#theme-picker-light:checked) {
    color-scheme: light;
}

html:has(#theme-picker-dark:checked) {
    color-scheme: dark;
}

body {
    --_max-content-width: 75ch;
    --_min-margin-width: 0ch;
    display: grid;
    grid-template-columns: [start-gutter-start] minmax(var(--_min-margin-width), 1fr) [start-gutter-end content-start] min(calc(100% - 2 * var(--_min-margin-width)), var(--_max-content-width)) [content-end end-gutter-start] minmax(var(--_min-margin-width), 1fr) [end-gutter-end];
    gap: 4rem;
    position: relative;
}

.theme-picker {
    position: absolute;
    grid-row: 1;
    grid-column: end-gutter;
    justify-self: end;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.theme-picker label ~ input {
    margin-inline-start: 0.5rem;
}

header,
section,
footer {
    grid-column: content;
}

body > section > h2 {
    place-self: center;
}

header {
    display: grid;
    grid-template-columns: [photo-start] max-content [photo-end about-me-start] 1fr [about-me-end];
    gap: 1rem;
    place-self: center;
    padding: 4rem;
}

header img {
    --_photo-size: 8rem;
    width: var(--_photo-size);
    aspect-ratio: 1;
    border-radius: 100vmax;
    grid-area: photo;
}

header hgroup {
    grid-area: about-me;
    align-self: center;
    display: grid;
    gap: 0.5rem;
}

header h1,
header p {
    margin: 0;
}

header h1 {
    font-size: 3rem;
    text-box-edge: cap alphabetic;
    text-box-trim: trim-both;
}

footer {
    text-align: center;
    padding-block: 1rem;
}

.alert {
    --_computed-color: var(--_color, hsl(0 100 100));
    border-radius: var(--border-radius);
    padding: 1rem;
    background-color: hsl(from var(--_computed-color) h s l / 0.1);
    color: var(--_computed-color);
}

.alert.info {
    --_color: hsl(200 100 50);
}

.intro {
    display: grid;
    gap: 1rem;
}

.intro p {
    min-width: 100%;
}

.projects {
    display: grid;
    gap: 2rem;
}

.projects > article {
    border-radius: var(--border-radius);
    box-shadow: 0 0 2px 1px var(--darken), 4px 4px 4px 1px var(--darken);
    display: grid;
    gap: 1rem;
    overflow: hidden;
}

.projects > article > img {
    width: 100%;
    object-fit: contain;
}

.projects > article > :not(img) {
    margin-inline: 1.5rem;
}

.projects > article {
    padding-block-end: 1.5rem;
}

.projects > article:not(:has(img)) {
    padding-block-start: 1.5rem;
}

.tags,
.links {
    display: flex;
    gap: 1rem;
}

.text-tag {
    border-radius: 100vmax;
    background-color: var(--darken);
    padding: 0.5rem 0.75rem;
    text-box-edge: cap alphabetic;
    text-box-trim: trim-both;
}

.button {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 0 1px 1px var(--darken);
    transition: all 200ms ease-in-out;
}

.button:hover:not(:active) {
    background-color: hsl(from var(--darken) h s l / 0.02);
    box-shadow: 0 0 1px 1px var(--darken), 0 2px 4px 1px var(--darken);
    transform: translateY(-2px);
}

.button:active {
    background-color: hsl(from var(--darken) h s l / 0.02);
}

.button .icon {
    height: 1.5rem;
    aspect-ratio: 1;
}